/*  Table of contents

1.  Global styles

2.  Typography

3.  Layout

4.  Components
    4.1 Buttons
    4.2 Active Link
    4.3 Projects grid
    4.4 Project Container

5.  Animations    
*/

/*  ================
    1. Global styles
    ================ */

:root {
    --main-theme-color: #24FF00;
    --main-text-color: #FFF;
    --main-color-dark: rgb(39, 39, 39);
    --main-color-dark-lighter: rgb(56, 56, 56);
    --secondary-text-color: rgba(255, 255, 255, .8);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #333;
    --main-theme-color: rgb(88, 216, 88);
    --main-text-color: rgb(231, 231, 231);
    --main-heading-color: rgb(202, 202, 202);
  }
}

@media (prefers-color-scheme: light) {
  /* Same as default */
/*}*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
main,
.projects-grid {
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--main-color-dark)), to(var(--main-color-dark-lighter)));
    background-image: linear-gradient(var(--main-color-dark), var(--main-color-dark-lighter));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    cursor: pointer;
}

.btn.outline-neon {
    border: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 0 10px 0 #24FF00;
    box-shadow: 0 0 10px 0 #24FF00;
}

.btn.outline-neon:hover {
    -webkit-animation: glow 1s infinite ease-in-out;
    animation: glow 1s infinite ease-in-out;
}

/*  ================
      2. Typography
      ================  */
/*h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading-color);
}*/

h1 {
    font-size: 32px;
}

.project-heading {
    font-size: 24px;
    color: var(--main-text-color);
}

.projects-section>h1 {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

a {
    text-decoration: none;
    color: inherit;
}

header,
footer {
    padding: 1em;
}

p {
    margin: 1em 0;
}

nav>a {
    margin: 1em;
}

nav>a:last-child {
    margin: 0;
}

.hero-section {
    text-align: center;
}

.projects-section>p {
    padding: 1em 0;
}

header>nav>a,
.btn-cta {
    font-size: 24px;
}

header>nav>a,
.btn {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header>nav>a:hover {
    color: rgba(255, 255, 255, .8);
}

.hero-text {
    font-size: 64px;
}

.hero-sub-text {
    font-size: 32px;
    padding: 1em;
    color: var(--secondary-text-color);
}

.hero-section>.hero-sub-text {
    width: 18em;
}

/*  ================
      3. Layout
      ================  */
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.width-75 {
    width: 75%;
    margin: auto;
}

.width-50 {
    width: 50%;
    margin: auto;
}



/*  ================
      4.Components
      ================  */
.hero-sub-text {
    margin-bottom: .5em;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer {
    background-color: var(--main-color-dark);
    font-size: 18px;
}

.project-hero-img {
    max-width: 100%;
    max-height: 100%;
}

/*  4.1 Buttons  */
.btn {
    padding: .5em 2em;
    background-color: transparent;
}

.btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.project-overlay>.btn {
    margin: 1em;
}

/*  4.2 Active Link  */
.active-link {
    border-bottom: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 8px 10px -10px var(--main-theme-color);
    box-shadow: 0 8px 10px -10px var(--main-theme-color);
}

.active-link:hover {
    -webkit-animation: glow-link 1s infinite ease-in-out;
    animation: glow-link 1s infinite ease-in-out;
}

/*  4.3 Projects grid  */
.projects-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.projects-section {
    width: 100%;
}

/*  4.4 Project Container  */
.project-container {
    border: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 0 10px 0 #24FF00;
    box-shadow: 0 0 10px 0 #24FF00;
    background-color: var(--main-color-dark);
    width: 47.5%;
    height: 300px;
    margin: 0em;
}

.project-overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.project-overlay:hover {
    opacity: 1;
}

/* 5. Animations */
@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }

    50% {
        -webkit-box-shadow: 0 0 12px 0 #24FF00;
        box-shadow: 0 0 12px 0 #24FF00;
    }

    100% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }
}

@keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }

    50% {
        -webkit-box-shadow: 0 0 12px 0 #24FF00;
        box-shadow: 0 0 12px 0 #24FF00;
    }

    100% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }
}

@-webkit-keyframes glow-link {
    0% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }

    50% {
        -webkit-box-shadow: 0 9px 11px -11px var(--main-theme-color);
        box-shadow: 0 9px 11px -11px var(--main-theme-color);
    }

    100% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }
}

@keyframes glow-link {
    0% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }

    50% {
        -webkit-box-shadow: 0 9px 11px -11px var(--main-theme-color);
        box-shadow: 0 9px 11px -11px var(--main-theme-color);
    }

    100% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }
}