/*  Table of contents

1.  Global styles

2.  Typography

3.  Layout

4.  Components
    4.1 Buttons
    4.2 Active Link
    4.3 Projects section
    4.4 Modal

5.  Animations    
*/

/*  ================
    1. Global styles
    ================ */

:root {
    --main-theme-color: #24FF00;
    --main-text-color: #FFF;
    --main-color-dark: rgb(39, 39, 39);
    --main-color-dark-lighter: rgb(56, 56, 56);
    --secondary-text-color: rgba(255, 255, 255, .8);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #333;
    --main-theme-color: rgb(88, 216, 88);
    --main-text-color: rgb(231, 231, 231);
    --main-heading-color: rgb(202, 202, 202);
  }
}

@media (prefers-color-scheme: light) {
  /* Same as default */
/*}*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
main,
.projects-container {
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--main-color-dark)), to(var(--main-color-dark-lighter)));
    background-image: linear-gradient(var(--main-color-dark), var(--main-color-dark-lighter));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    cursor: pointer;
}

.btn.outline-neon {
    border: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 0 10px 0 #24FF00;
    box-shadow: 0 0 10px 0 #24FF00;
}

.btn.outline-neon:hover {
    -webkit-animation: glow 1s infinite ease-in-out;
    animation: glow 1s infinite ease-in-out;
}

.modal-outline-neon {
    border: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 0 10px 0 #24FF00;
    box-shadow: 0 0 10px 0 #24FF00;
}

.hidden {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

/*  ================
      2. Typography
      ================  */
/*h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading-color);
}*/

.main-text-color {
    color: var(--main-text-color);
}

.secondary-text-color {
    color: var(--secondary-text-color);
}

h1,
h3 {
    font-size: 32px;
}

ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

ul>li {
    padding: .5em;
    margin: .3em;
    border: 2px solid var(--main-color-dark);
    font-size: 12px;
}

button,
.project-modal-type {
    font-size: 18px;
}

h4,
.project-modal-type {
    font-weight: bold;
}

.project-modal-type {
    margin: 0;
    margin-bottom: .5em;
}

.modal {
    color: var(--secondary-text-color);
}

.project-heading {
    font-size: 24px;
    color: var(--main-text-color);
}

.projects-section>h1 {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

header,
footer {
    padding: 1em;
}

p {
    margin: 1em 0;
}

nav>a {
    margin: 1em;
}

nav>a:last-child {
    margin: 0;
}

.hero-section {
    text-align: center;
}

.projects-section>p {
    padding: 1em 0;
}

header>nav>a,
.btn-cta {
    font-size: 24px;
}

header>nav>a,
.btn {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header>nav>a:hover {
    color: rgba(255, 255, 255, .8);
}

.hero-text {
    font-size: 64px;
}

.hero-sub-text {
    font-size: 32px;
    padding: 1em;
    color: var(--secondary-text-color);
}

.hero-section>.hero-sub-text {
    width: 18em;
}

.project-container>p {
    color: var(--secondary-text-color);
}

/*  ================
      3. Layout
      ================  */
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
    margin: auto;
}

.width-50 {
    width: 50%;
    margin: auto;
}

.mb-05 {
    margin-bottom: .5em;
}

/*  ================
      4.Components
      ================  */
.hero-sub-text {
    margin-bottom: .5em;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer {
    background-color: var(--main-color-dark);
    font-size: 18px;
}

.project-hero-img {
    max-width: 100%;
    max-height: 100%;
}

/*  4.1 Buttons  */
.btn {
    padding: .5em 2em;
    background-color: transparent;
}

.btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal-btn {
    padding: .5em 2em;
    background-color: transparent;
}

aside>button {
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: var(--main-text-color);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

aside>button:hover {
    color: var(--secondary-text-color);
}

/*  4.2 Active Link  */
.active-link {
    border-bottom: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 8px 10px -10px var(--main-theme-color);
    box-shadow: 0 8px 10px -10px var(--main-theme-color);
}

.active-link:hover {
    -webkit-animation: glow-link 1s infinite ease-in-out;
    animation: glow-link 1s infinite ease-in-out;
}

/*  4.3 Project section  */
.projects-section {
    width: 100%;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.project-container {
    background-color: var(--main-color-dark-lighter);
    border: 2px solid var(--main-color-dark);
    -webkit-box-shadow: 0 0 5px -2px var(--main-color-dark);
    box-shadow: 0 0 5px -2px var(--main-color-dark);
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.project-container>img {
    max-width: 100%;
}

/* 4.4 Modal */
#modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
}

.modal {
    display: block;
    position: absolute;
    width: 60em;
    height: 25em;
    background-color: var(--main-color-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 999;
}

.modal>article {
    padding: 1em;
    position: relative;
}

.modal>article:last-child {
    background-color: var(--main-color-dark-lighter);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal>article>aside {
    position: absolute;
    top: 1em;
    right: 1em;
}

.about-text-container {
    overflow-y: auto;
    max-height: 150px;
}

.modal-hero-img {
    max-width: 100%;
}

/* 5. Animations */
@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }

    50% {
        -webkit-box-shadow: 0 0 12px 0 #24FF00;
        box-shadow: 0 0 12px 0 #24FF00;
    }

    100% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }
}

@keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }

    50% {
        -webkit-box-shadow: 0 0 12px 0 #24FF00;
        box-shadow: 0 0 12px 0 #24FF00;
    }

    100% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }
}

@-webkit-keyframes glow-link {
    0% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }

    50% {
        -webkit-box-shadow: 0 9px 11px -11px var(--main-theme-color);
        box-shadow: 0 9px 11px -11px var(--main-theme-color);
    }

    100% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }
}

@keyframes glow-link {
    0% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }

    50% {
        -webkit-box-shadow: 0 9px 11px -11px var(--main-theme-color);
        box-shadow: 0 9px 11px -11px var(--main-theme-color);
    }

    100% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }
}