/*  Table of contents

1.  Global styles

2.  Typography

3.  Layout

4.  Components
    4.1 Buttons
    4.2 Inputs


5.  Animations    
*/

/*  ================
    1. Global styles
    ================ */

:root {
    --main-theme-color: #24FF00;
    --main-text-color: #FFF;
    --main-color-dark: rgb(39, 39, 39);
    --main-color-dark-lighter: rgb(56, 56, 56);
    --secondary-text-color: rgba(255, 255, 255, .8);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #333;
    --main-theme-color: rgb(88, 216, 88);
    --main-text-color: rgb(231, 231, 231);
    --main-heading-color: rgb(202, 202, 202);
  }
}

@media (prefers-color-scheme: light) {
  /* Same as default */
/*}*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
main,
main section {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--main-color-dark)), to(var(--main-color-dark-lighter)));
    background-image: linear-gradient(var(--main-color-dark), var(--main-color-dark-lighter));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn.outline-neon {
    border: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 0 10px 0 #24FF00;
    box-shadow: 0 0 10px 0 #24FF00;
}

.btn.outline-neon:hover {
    -webkit-animation: glow 1s infinite ease-in-out;
    animation: glow 1s infinite ease-in-out;
}

/*  ================
      2. Typography
      ================  */
/*h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-heading-color);
}*/

a {
    text-decoration: none;
    color: inherit;
}

p,
header,
footer,
nav>a {
    padding: 1em;
}

header>nav>a,
.btn-cta {
    font-size: 24px;
}

.hero-text {
    font-size: 64px;
}

.hero-sub-text {
    font-size: 32px;
    color: var(--secondary-text-color);
}

/*  ================
      3. Layout
      ================  */
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*  ================
      4.Components
      ================  */
.hero-section {
    width: 30%;
    margin: auto;
    text-align: center;
}

header,
footer {
    position: absolute;
    left: 0;
    right: 0;
}

header {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer {
    background-color: var(--main-color-dark);
    bottom: 0;
    font-size: 18px;
}

/*  4.1 Buttons  */
.btn {
    padding: .5em 2em;
    background-color: transparent;
}

/*  4.2 Inputs  */

/*  4.3 Active Link  */
.active-link {
    border-bottom: 2px solid var(--main-theme-color);
    -webkit-box-shadow: 0 8px 10px -10px var(--main-theme-color);
    box-shadow: 0 8px 10px -10px var(--main-theme-color);
}


.active-link:hover {
    -webkit-animation: glow-link 1s infinite ease-in-out;
    animation: glow-link 1s infinite ease-in-out;
}


/* 5. Animations */
@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }

    50% {
        -webkit-box-shadow: 0 0 12px 0 #24FF00;
        box-shadow: 0 0 12px 0 #24FF00;
    }

    100% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }
}

@keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }

    50% {
        -webkit-box-shadow: 0 0 12px 0 #24FF00;
        box-shadow: 0 0 12px 0 #24FF00;
    }

    100% {
        -webkit-box-shadow: 0 0 100px 0 #24FF00;
        box-shadow: 0 0 10px 0 #24FF00;
    }
}

@-webkit-keyframes glow-link {
    0% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }

    50% {
        -webkit-box-shadow: 0 9px 11px -11px var(--main-theme-color);
        box-shadow: 0 9px 11px -11px var(--main-theme-color);
    }

    100% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }
}

@keyframes glow-link {
    0% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }

    50% {
        -webkit-box-shadow: 0 9px 11px -11px var(--main-theme-color);
        box-shadow: 0 9px 11px -11px var(--main-theme-color);
    }

    100% {
        -webkit-box-shadow: 0 5px 10px -10px var(--main-theme-color);
        box-shadow: 0 5px 10px -10px var(--main-theme-color);
    }
}